.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* For mobile layout */
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #cbba3b; /* Gold border for a professional look */
    cursor: pointer;
    transition: transform 0.5s ease; /* Smooth transition on hover */
}

.profile-image:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

@media (min-width: 768px) {
    .greeting-container {
        flex-direction: row; /* For larger screens */
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }
}

.home-header h1 {
    color: #f5f5f5;
    font-size: 3em;
}

.main-name {
    color: #cbba3b;
}

.Typewriter__wrapper {
    font-size: 2.8em;
    color: #ddd79c;
    font-weight: 600;
}

.Typewriter__cursor {
    font-size: 2.4em;
    color: #f5f5f5;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card {
    margin-left: auto;
    margin-right: auto;
}

.card-header .card-body {
    margin: auto;
    display: flex;
    justify-content: right;
}

.resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.resume-button a {
    background-color: #414b57;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.resume-button a:hover {
    background-color: #b4b4b4;
}
/* Styling for the toggle buttons */
.toggle-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

/* Styling for active button */
.toggle-buttons .btn-primary,
.toggle-buttons .btn.active {
    background-color: #414b57;
    border-color: #000000;
    color: rgb(255, 255, 255);
}

/* Styling for inactive button */
.toggle-buttons .btn-outline-primary {
    background-color: #414b57;
    border-color: #000000;
    color: #ffffff;
}

/* Hover effect for buttons */
.toggle-buttons .btn:hover:not(.active) {
    background-color: #8e969e;
    border-color: #929496;
    color: white;
}
.contact-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .contact-card h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .contact-item:hover {
    color: #ddd;
  }
  
  .contact-icon {
    margin-right: 10px;
    color: #414b57;
  }
  
  /* Add more customization as needed */